# ==========================================
# CONFIGURACIÓN GLOBAL DEL CENTRO DE COMANDO
# (Plantilla de Ejemplo)
# ==========================================

# ------------------------------------------
# 1. Credenciales de Destino (Recurso Confiable)
# ------------------------------------------
RC_USERNAME=tu_usuario_real
RC_PASSWORD=tu_password_real
RC_ENDPOINT=http://gps.rcontrol.com.mx/Tracking/wcf/RCService.svc
# Cambia a False para enviar los datos reales a producción. Si es True, no consumirá internet y simulará la respuesta.
RC_USE_MOCK=True

# ------------------------------------------
# 2. Configuración de Nuevos Proveedores (Ejemplos)
# ------------------------------------------
# A medida que el Hub crezca, las credenciales de lectura (Pull) 
# de otras APIs se deben colocar aquí abajo, NUNCA en los .py.

# Ejemplos de uso futuro:
# SAMSARA_API_TOKEN=
# SAMSARA_BASE_URL=https://api.samsara.com/v1

# GEOTAB_USERNAME=
# GEOTAB_PASSWORD=
# GEOTAB_DATABASE=
# GEOTAB_SERVER=my.geotab.com

# APP_SECRET_KEY=clave_para_firmar_tokens_jwt
